<!DOCTYPE html>
<html>
    <head>
        <title>Artikelübersicht</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/64ae5d1b44.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
        <link rel="stylesheet" href="/assets/css/styles-0.0.2.css" media="all" />
    </head>
    <body>
        <section class="section">
            <div class="container">
                <nav class="panel">
                    <p class="panel-heading">
                        Artikelübersicht
                    </p>
                    {{range .}}
                        <a class="panel-block">
                            <span class="panel-icon">
                                <i class="fa-solid fa-user" aria-hidden="true"></i>
                            </span>
                            {{.Name}} - {{.Description}}: {{.Price}}
                        </a>
                    {{end}}
                </nav>
            </div>
        </section>
        <footer class="footer">
            <div class="content has-text-centered">
            <p>
                ...
            </p>
            </div>
        </footer>
    </body>
</html>
